{#last name input component#}
<div class="mb-3">
    <input type="text"
           class="form-control rounded-3 border-0 bg-body-secondary{% if last_name_error %} is-invalid{% endif %}"
           pattern="^[A-Za-zĀ-Ūā-ū]{2,50}$"
           placeholder="{% if required %}last name{% else %}last name (Optional){% endif %}"
           id="last-name-input" name="last_name" 
           value="{{ last_name }}" {% if required %}required{% endif %}>
    <div class="invalid-feedback">
        {% if last_name_error %}
            {{ last_name_error }}
        {% else %}
            Name can contain only letters (including Māori macrons), 2 to 50 characters long
        {% endif %}
    </div>
</div>