{#password input component#}
<div class="mb-3">
    <input type="password"
           class="form-control rounded-3 border-0 bg-body-secondary{% if password_error %} is-invalid{% endif %}"
           placeholder="Password"
           id="password-input" name="password" value="{{ password }}"
           required>
    <div class="invalid-feedback" id="password-input-error">
        {% if password_error %}
            {{ password_error }}
        {% else %}
            Password must be between 8 and 20 characters long and include at least one uppercase letter, one lowercase letter, and one digit.
        {% endif %}
    </div>
</div>